<div class="row" style="min-height: 70px;">
</div>

<div class="row">
  <div class="col-md-6">
    <img src="<%= @item.image_url %>" width="486px;" height="400px;" alt="food">
  </div>

  <div class="col-md-4" class="pull-left">
    <h2><%= @item.name %></h2>
    <div class="panel panel-default">
      <div class="panel-body">
        <p><%= @item.description %></p>
      </div>
    </div>
    <p>
      <%= form_tag add_path, method: "post" do %>
        <input type="hidden" name="id" value="<%= @item.id %>">
        <button type="submit" class="btn btn-danger"><%= vnd(@item.price) %></button>
      <% end %>
    </p>

    <hr/>
    <h4>Leave a comment:</h4>
    <%= form_tag review_path, method: "post" do %>
      <input type="hidden" name="review[item_id]" value="<%= @item.id %>">
      <div class="form-group">
        <input name="review[star]" type="number" class="rating" min="1" max="5" step="1">
      </div>
      <div class="form-group">
        <input class="form-control" name="review[username]" type="text" placeholder="Name">
      </div>
      <div class="form-group">
        <textarea class="form-control" name="review[comment]" rows="3" required placeholder="Comment"></textarea>
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    <% end %>
    <br/><br/>

    <p><span class="badge"><%= @item.reviews.count %></span> Comments:</p>
    <div class="row">
      <% @item.reviews.each do |review| %>
        <div class="col-sm-10">
          <h4><%= review.username %> <small><%= pretty_time(review.created_at) %></small></h4>
          <input type="number" class="rating readonly-rating" value="<%= review.star %>" disabled>
          <p><%= review.comment %></p>
          <br/>
        </div>
      <% end %>
    </div>
  </div>    
</div>