<div class="jumbotron text-center">
  <h1><%= params[:section] %></h1>

  <div class="btn-group" role="group" aria-label="Basic example">
    <a href="<%= request.path + '?sort=price+asc' %>" class="btn btn-default">
      <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
      Price Up</a>
    <a href="<%= request.path + '?sort=price+desc' %>" class="btn btn-default">
      <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
      Price Down</a>
    <a href="<%= request.path + '?sort=name+asc' %>" class="btn btn-default">
        <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
      Name A-Z</a>
  </div>
</div>

<div>
  <div class="row text-center">
    <% @items.each do |item| %>
      <div class="col-sm-6 col-md-4" style="margin-bottom: 20px">
        <div class="thumbnail item_thumbnail">
          <img src="<%= item.image_url %>" style="width: 243px; height: 200px;"alt="food">
          <div class="caption">
            <h5><%= link_to item.name, item_path(item.id) %></h5>

            <%= form_tag add_path, method: "post" do %>
              <input type="hidden" name="id" value="<%= item.id %>">
              <button type="submit" class="btn btn-danger"><%= vnd(item.price) %></button>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
