<div class="jumbotron">
  <h1><%= params[:section] %></h1>

  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary" id="price-up">Price Up</button>
    <button type="button" class="btn btn-secondary" id="price-down">Price Down</button>
    <button type="button" class="btn btn-secondary" id="name-az">Alphabet</button>
  </div>
</div>

<div class="row">

  <% @items.each do |item| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="<%= item.image_url %>" style="width: 243px; height: 200px;"alt="food">
        <div class="caption">
          <h3><%= link_to item.name, item_path(item.id) %></h3>
          <span><%= item.price %> VND</span>
          <p><%= item.description %></p>
          <p><a href="#" class="btn btn-primary" role="button">Order</a></p>
        </div>
      </div>
    </div>
  <% end %>
  
</div>