<div class="jumbotron text-center">
  <h1>Thank you for your order!</h1>
</div>

<div class="row">
  <div class="col-md-6">
    <h2>Delivery info</h2>
    <ul class="list-group text-left">
      <li class="list-group-item">
        <span>Order date: </span>
        <span><%= pretty_time(@order_date) %></span>
      </li>
      <li class="list-group-item">
        <span>Email: </span>
        <span><%= session[:address]["email"] %></span>
      </li>
      <li class="list-group-item">
        <span>Phone: </span>
        <span><%= session['address']['phone'] %></span>
      </li>
      <li class="list-group-item">
        <span>Address: </span>
        <span><%= session[:address]["address"] %></span>
      </li>
    </ul>
  </div>

  <div class="col-md-6">
    <h2>Items</h2>
    <ul class="list-group text-left">
      <% session[:purchase].each do |mi| %>
        <li class="list-group-item">
          <span><%= mi['name'] %></span>
          <span style="float: right"><%= vnd(mi['price']) %></span>
        </li>
      <% end %>
    </ul>
    <div class="text-right" style="margin-top: 10px; color: red; font-weight: bold; padding-right: 20px">
      <p><span>Shipping:</span> <%= vnd(@shipping) %></p>
      <p><span>Total:</span> <%= vnd(@total) %></p>
    </div>
  </div>

</div>