<!DOCTYPE html>
<html>
<head>
  <title>Restaurant</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <a class="navbar-brand" href="#">Restaurant</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <%= link_to "Menu", menu_path, class: "nav-link"%>
    </li>
    <li class="nav-item">
      <%= link_to "Contact Us", contact_us_path, class: "nav-link"%>
    </li>
  </ul>
</nav>

<div class="container">

  <div class="starter-template">
    <%= yield %>
  </div>

</div><!-- /.container -->

</body>
</html>
